/* Element */
body {
    margin: 0;
    padding: 0;
}

*[slant] {
    padding: 100px 0;
    transform: skew(0deg, -1.5deg) translateY(-120px);
}

*[slant] > * {
    transform: skew(0deg, 1.5deg);
}

/* Navbar */
.navbar-color {
    background: #EDBC10;
    position:relative;
    z-index:-1;
    padding: 70px 0;
}
.navbar-content{
    position:relative;
    z-index:1;
}
.navbar-content ul li{
    margin: 0 15px;
}

.nav-link{
    min-width: 125px;
    color: white;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 3px;
}

.nav-link:hover{
    color: white;

}
.news-btn{
    background-color: #249ACC;
}
.events-btn{
    background-color: #C30A37;
}
.user-btn{
    background-color: #9213F6;
}
/* Parallax */
.parallax-text{
    position:absolute;
    top:40%;
    width:100%;
    text-align:center;
    font-size: 3em;
    color:white;
    font-weight:bold; 
    background: transparent;
}
.parallax-background{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-image: url('/static/img/ui.jpg');
    min-height:100%;
    opacity: 0.8;
    filter: blur(0.1rem);
}
/* News */
#news {
    background: #1B7BA4;
}

#user {
    background: #5E09A1;
}

.color-news{
    background: #1DB6D8;
}
.color-event{
    background: #C30A37;
}
.color-user{
    background: #9213F6;
}
.news-card, .event-card{
    margin-top: 25px;
}

.event-date{
    color: white;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.2em;
    padding-top: 5px;
}
.event-month{
    margin-top: 0;
    color: white;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
    line-height: 1em;
}

/* Events */
#event {
    background: #9B092C;
}
/* Footer */

.content-colorbox{
    height: inherit;
    width: 100px;
}






.color-bar {
    height: 25px;
}

.card {
    border-radius: 0px;
    border-width: 0;
    background-color: #eee;
}
.card-title{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
}
.title-bar{
    font-size: 2.2em;
    margin: 0;
    padding: 15px 20px;
}
.news-title{
    margin: 0;
}
.news-author{
    margin-top: 2px;
    margin-bottom: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
    font-size: 1.1em;
    color: #666;
}
.news-content{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
}
form{
    margin: 0;
}
.form-card{
    width: 50%;
    margin: auto;
}
.btn-form{
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: white;
    text-align: center;
    width: 100%;
}
.form-control{
    margin-bottom: 22px;
}
.auth-prompt{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
.auth-prompt:hover{
    color:  whitesmoke;
}

@media (max-width: 980px){
    /* TO DO  */
    .event-date, .event-month {
        transform: rotate(-90deg);
        margin-top: 22px;
    }
    .event-month {
        font-size: 2em;
    }
    .form-card{
        width:100%;
    }
}