body {
    margin: 0;
    padding: 0;
}

*[slant] {
    padding: 100px 0;
    transform: skew(0deg, -6deg) translateY(-120px);
}

*[slant] > * {
    transform: skew(0deg, 6deg);
}

.deslant {
    transform: skew(0deg, 6deg);
}

.navbar {
    background: #EDBC10;
}

.news {
    background: #1B7BA4;
}

.event {
    background: #9B092C;
}



.navbar-container h1{
    margin: 0;
    padding: 20px 0;
    font-size: 3em;
}

.homepage-image{
    background-image: url('/static/img/rektorat.jpg');

}