{% load static %}
<section id="footer">
    <div>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    One of two columns
                </div>
                <div class="col-sm">
                    One of two columns
                </div>
            </div>
        </div>
        <div>
            <p>University of Indonesia</p>
            <p>Jl. Margonda Raya,</p>
            <p>Pondok Cina, Beji,</p>
            <p>Depok,</p>
            <p>West Java.</p>
            <p>16424</p>
        </div>
        <div class="social-icon-grid">
            <div class="social-icon-img">
                <a href="https://www.facebook.com"><img src="{% static 'img/test.png' %}"></a>
            </div>
            <div class="social-icon-img">
                <a href="https://www.facebook.com"><img src="{% static 'img/test.png' %}"></a>
            </div>
            <div class="social-icon-img">
                <a href="https://www.facebook.com"><img src="{% static 'img/test.png' %}"></a>
            </div>
            <div class="social-icon-img">
                <a href="https://www.facebook.com"><img src="{% static 'img/test.png' %}"></a>
            </div>
        </div>
        <div>
            <p>We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with
                University
                of Indonesia, or any of its subsidiaries or its affiliates.</p>
        </div>
    </div>
</section>