{% for news in all_news %}
    <div class="modal fade" id="modal-news-{{ news.id }}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header color-news">
                    <h5 class="modal-title card-title" id="exampleModalLongTitle">{{ news.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
{#                    <p>{{ news.title }}</p>#}
                    <p>By {{ news.author }} // {{ news.date }}</p>
                    <p>{{ news.content }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#                    {% if user.is_authenticated %}#}
{#                        {% if user in event.participant_user.all %}#}
{#                            <a href="{% url 'event_leave' event.id %}" class="btn btn-danger text-white">Leave</a>#}
{#                        {% else %}#}
{#                            <a href="{% url 'event_attend' event.id %}" class="btn btn-warning text-white">Attend </a>#}
{#                        {% endif %}#}
{#                    {% else %}#}
{#                        <button type="button" class="btn btn-primary">RSVP</button>#}
{#                    {% endif %}#}
                </div>
            </div>
        </div>
    </div>
{% endfor %}