{% extends '_base.html' %}
{% load static %}

{% block title %}News // {% endblock %}

{% block content %}

    <section id="parallax">
        <div class="parallax-background"></div>

        <div class="parallax-text">
            <h1>NEWS</h1>
        </div>
    </section>


    <section id="news" slant>
            <div class="news-container container">
                <div class="card shadow">
                    <div class="card-flex">
                        <h3 class="card-title title-bar">LATEST DIGEST</h3>
                        <div class="content-colorbox color-news"></div>
                    </div>
                </div>
                <div class="row">
                    {% for news in all_news %}
                    <div class="col-lg-4 col-sm-12">
                        <div class="card clickable-card news-card shadow" data-toggle="modal" data-target="#modal-news-{{ news.id }}">
                            <div class="color-bar color-news"></div>
                            <div class="card-body">
                                <h5 class="card-title news-title">
                                    {{ news.title }}
                                </h5>
                                <p class="news-author">by {{ news.author }} </p>
                                <div class="card-text news-content">
                                    {{ news.headline }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    {% include "_modal-news.html" %}


{% endblock %}