{% extends '_base.html' %}
{% load static %}

{% block title %}Reset Password // {% endblock %}


{% block content %}

<section id="parallax">
    <div class="parallax-background"></div>

    <div class="parallax-text">
        <h1>RESET PASSWORD</h1>
    </div>
</section>

<section id="user" slant>
    <div class="news-container container">
        <div class="row">
            <div class="col-12">
                <div class="card form-card shadow">
                    <div class="color-bar color-user"></div>
                    <div class="card-body">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="material-icons">close</i></button>
                        </div>
                        {{ msg }}
                        {% endfor %}
                        <form id="registerForm" class="needs-validation" method="POST" action="{% url 'reset_auth' uidb64=uid token=token %}">
                            {% csrf_token %}
                            {{ form.password }}
                            {{ form.ver_password }}
                            <button class="btn btn-form color-user" type="submit">CHANGE PASSWORD</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="http://parsleyjs.org/dist/parsley.js"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}